.atButton {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $block-margin;
  &-link {
    display: inline-block;
    text-decoration: none;
    background-color: $link-color;
    color: $gray-color-04;
    padding: $buttonPadding;
    text-align: center;
    border-radius: $border-radius;
    font-size: .9rem;
    transition: .1s ease-in-out;
    border: 1px solid $link-color;
    .atButton-blank & {
      background-color: $green-color;
      border: 1px solid $green-color;
    }
    .atButton-danger & {
      background-color: $red-color;
      border: 1px solid $red-color;
    }
  }
}

@include mq-up(xl) {
  .atButton {
    &-link {
      &:hover {
        background-color: $gray-color-04;
        color: $link-color;
        .atButton-blank & {
          background-color: $gray-color-04;
          color: $green-color;
        }
        .atButton-danger & {
          background-color: $gray-color-04;
          color: $red-color;
        }
      }
    }
  }
}

.atInputFile {
  &-label {
    color: $gray-color-04;
    background-color: $sub-color;
    border-radius: $border-radius;
    padding: $buttonPadding;
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
  }
  &-input {
    border: none;
    display: none;
  }
}

.atInputText {
  @include formInput();
}

.atInputTextArea {
  @include formInput();
}

.atPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  .atPagination-item {
    margin-right: 1rem;
    &:nth-last-child(2) {
      margin-right: 0;
    }
    &.active {
      a {
        background-color: $link-color;
        color: $gray-color-04;
      }
    }
    a {
      background-color: $gray-color-04;
      color: $key-color;
      display: inline-block;
      padding: 10px 16px;
      border: 1px solid $link-color;
      &:hover {
        background-color: $link-color;
        color: $gray-color-04;
      }
    }
  }
  .displayNone {
    display: none;
  }
}

.atNav {
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  background-color: $gray-color-01;
  color: $black-color-01;
  &:hover {
    color: $white-color;
    background-color: $key-color;
  }
  &.router-link-active {
    text-decoration: none;
    pointer-events: none;
    color: $white-color;
    background-color: $key-color;
  }
}

.atSubmit {
  display: flex;
  justify-content: flex-end;
  &-button {
    display: inline-block;
    text-decoration: none;
    background-color: $link-color;
    color: $gray-color-04;
    padding: $buttonPadding;
    text-align: center;
    border-radius: $border-radius;
    font-size: .9rem;
    transition: .1s ease-in-out;
    border: 1px solid $link-color;
    &:hover {
      background-color: $gray-color-04;
      color: $link-color;
      cursor: pointer;
    }
  }
}

.atTable {
  border-left: 1px solid $gray-color-04;
  border-top: 1px solid $gray-color-04;
  @include mq-down() {
    width: 100%;
  }
  &-header {
    border-bottom: 1px solid $gray-color-04;
    vertical-align: middle;
    text-align: center;
    padding: .5rem 1rem;
    @include mq-down() {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 1rem 1rem .5rem;
      border-bottom: none;
    }
  }
  &-data {
    border-right: 1px solid $gray-color-04;
    border-bottom: 1px solid $gray-color-04;
    vertical-align: middle;
    text-align: left;
    padding: .5rem 1rem;
    width: 100%;
    box-sizing: border-box;
    @include mq-down() {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 0 1.5rem 1rem;
    }
  }
}

.atTable02 {
  width: 100%;
  border-top: 1px solid $gray-color-03;
  border-left: 1px solid $gray-color-03;
  margin-bottom: 1rem;
  th {
    width: 60%;
    background-color: #4B86A2;
    color: $white-color;
    border-bottom: 1px solid $gray-color-03;
    border-right: 1px solid $gray-color-03;
    padding: .5rem 1rem;
    box-sizing: border-box;
    &:last-child {
      background-color: #686A85;
    }
  }
  td {
    width: 40%;
    border-bottom: 1px solid $gray-color-03;
    border-right: 1px solid $gray-color-03;
    padding: .5rem 1rem;
    box-sizing: border-box;
  }
}

.atTitleH1 {
  &-title {
   letter-spacing: 10px;
   font-weight: normal;
   font-size: 1.4rem;
  }
}

.atTitleH2 {
  position: relative;
  margin-bottom: 1rem;
  @include mq-down() {
    margin: 1rem 0;
  }
  &::before {
    content: '';
    width: 3%;
    position: absolute;
    display: block;
    height: 2px;
    background: $key-color;
    left: 0;
    top: 50%;
    margin: -1px 0 0 0;
  }
  &-title {
    background-color: $white-color;
    position: relative;
    margin-left: 4%;
    font-size: 1.4rem;
  }
}

.atTitleH3 {
  position: relative;
  margin-bottom: 1rem;
  @include mq-down() {
    margin: 1rem 0;
  }
  &::before {
    content: '';
    width: 2%;
    position: absolute;
    display: block;
    height: 2px;
    background: $key-color;
    left: 0;
    top: 50%;
    margin: -1px 0 0 0;
  }
  &-title {
    background-color: $white-color;
    position: relative;
    margin-left: 3%;
    font-size: 1.2rem;
  }
}

.atHamburgerMenu {
  position: relative;
  height: 30px;
  width: 42px;
  &-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 30px;
    background-color: $key-color;
    border-radius: $border-radius;
    &:nth-of-type(2) {
      width: 20px;
      top: 10px;
    }
  }
}

.atCloseButton {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  &-icon::before,
  &-icon::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 5%;
    margin: -8% 0 0 -42%;
    background: $gray-color-01;
  }
  &-icon::before {
    transform: rotate(-45deg);
  }
  &-icon::after {
    transform: rotate(45deg);
  }
}

.atLazyImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .v-lazy-image {
    &-loaded {
      & + .atLazyImage-loader {
        display: none;
      }
    }
  }
  &-loader {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin: -15px auto 60px;
    border-top: 4px solid rgba(255, 255, 255, .2);
    border-right: 4px solid rgba(255, 255, 255, .2);
    border-bottom: 4px solid rgba(255, 255, 255, .2);
    border-left: 4px solid $key-color;
    transform: translateZ(0);
    animation: loader 1.1s infinite linear;
    &::after {
      border-radius: 50%;
      width: 10em;
      height: 10em;
    }
  }
}
