.orFooter {
  text-align: center;
  font-size: .8rem;
  color: $gray-color-02;
  padding: 1rem 0;
}

.orHeader {
  text-align: center;
  padding: 20px 0;
  background-color: $gray-color-04;
  position: relative;
  &-icon {
    position: absolute;
    top: 29px;
    right: .5rem;
    z-index: 1;
  }
}

.ProfileOrSideBlock {
  @include mq-down(md) {
    text-align: center;
    margin-bottom: 5%;
  }
  &-img {
    @include mq-down(md) {
      display: block;
      margin: 0 auto;
    }
  }
  &-list {
    display: flex;
    @include mq-down(md) {
      display: block;
    }
  }
  &-item {
    margin-right: .5rem;
    @include mq-down(md) {
      display: inline-block;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.WorkOrDetail {
  display: flex;
  @include mq-down(md) {
    display: block;
  }
  &-img {
    @include mq-down(md) {
      display: block;
      margin: 0 auto 5%;
      width: 100%;
      max-width: 500px;
    }
  }
  &-inner {
    padding-left: 2rem;
    width: 100%;
    box-sizing: border-box;
    @include mq-down(md) {
      padding-left: 0;
    }
  }
}

.orAddEdit {
  &-table {
    margin-bottom: $block-padding;
    border-left: 1px solid $gray-color-04;
    border-top: 1px solid $gray-color-04;
    width: 100%;
    th {
      border-bottom: 1px solid $gray-color-04;
      text-align: center;
      vertical-align: middle;
      width: 15%;
    }
    td {
      border-right: 1px solid $gray-color-04;
      border-bottom: 1px solid $gray-color-04;
      vertical-align: middle;
      text-align: left;
      padding: .5rem;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
