@mixin skill($margin: 0 2.5% 2.5% 0) {
  background-color: $sub-color;
  padding: 5px 8px;
  margin: $margin;
  font-size: .8rem;
  color: $white-color;
  border-radius: $border-radius;
  transition: $transition;
  border: 1px solid $sub-color;
}

@mixin button-01($backgrondColor: $link-color, $color: $white-color) {
  display: flex;
  justify-content: flex-end;
  &-link {
    display: inline-block;
    text-decoration: none;
    background-color: $backgrondColor;
    color: $white-color;
    padding: $borderPadding;
    text-align: center;
    border-radius: $border-radius;
    font-size: .9rem;
    transition: $transition;
    border: 1px solid $backgrondColor;
    &:hover {
      background-color: $white-color;
      color: $backgrondColor;
      cursor: pointer;
    }
  }
}
