@mixin formInput() {
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  border: 1px solid $gray-color-03;
  resize: none;
  box-sizing: border-box;
}
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}
@mixin mq-down($breakpoint: sm) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}
