@mixin skill($margin: 0 2.5% 2.5% 0) {
  background-color: $sub-color;
  padding: 5px 8px;
  margin: $margin;
  font-size: .8rem;
  color: $white-color;
  border-radius: $border-radius;
  transition: $transition;
  border: 1px solid $sub-color;
}
