.m-table-01 {
  border-left: solid 1px $white-color;
  border-top: solid 1px $white-color;
  tr {
    &:nth-child(even) th,
    &:nth-child(even) td {
      background-color: $white-color;
    }
    th {
      border-bottom: solid 1px $white-color;
      vertical-align: middle;
      text-align: center;
      padding: 10px;
    }
    td {
      border-right: solid 1px $white-color;
      border-bottom: solid 1px $white-color;
      vertical-align: middle;
      text-align: left;
      padding: 10px;
      .m-text-errorMessage {
        padding-top: 5px;
      }
    }
  }
}

/* 左右にボタンが並んで右端に配置*/
.m-buttonBlock-01 {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1rem;
  div {
    margin-left: 1rem;
  }
}

/* 左右にボタンが並んで中央に配置*/
.m-buttonBlock-02 {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.m-button-01 {
  @include button-01();
}

.m-button-02 {
  @include button-01($green-color);
}

.m-button-03 {
  @include button-01($red-color);
}

.m-button-04 {
  @include button-01($gray-color-01);
}

.m-list-01 {
  dt {
    margin: 0 0 1em;
    &:not(:first-child) {
      margin-top: 2em;
    }
  }
  dd {
    margin: 0 0 .5em 2em;
    display: list-item;
    list-style-type: circle;
  }
}

.m-box-errorMessage {
  background-color: $red-color;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  .m-text-errorMessage {
    color: $white-color;
  }
}

.m-text-errorMessage {
  color: $red-color;
}
