.m-table-01 {
  border-left: solid 1px $white-color;
  border-top: solid 1px $white-color;
  tr {
    &:nth-child(even) th,
    &:nth-child(even) td {
      background-color: $white-color;
    }
    th {
      border-bottom: solid 1px $white-color;
      vertical-align: middle;
      text-align: center;
      padding: 10px;
    }
    td {
      border-right: solid 1px $white-color;
      border-bottom: solid 1px $white-color;
      vertical-align: middle;
      text-align: left;
      padding: 10px;
      .m-text-errorMessage {
        padding-top: 5px;
      }
    }
  }
}

.m-button-01 {
  margin-bottom: 2.5%;
  display: flex;
  justify-content: flex-end;
  &-link {
    display: inline-block;
    text-decoration: none;
    background-color: $link-color;
    color: $white-color;
    padding: $borderPadding;
    text-align: center;
    border-radius: $border-radius;
    font-size: .9rem;
    transition: $transition;
    border: 1px solid $link-color;
    &:hover {
      background-color: $white-color;
      color: $link-color;
      cursor: pointer;
    }
  }
}

.m-button-02 {
  display: flex;
  justify-content: flex-end;
  &-link {
    display: inline-block;
    text-decoration: none;
    background-color: $green-color;
    color: $white-color;
    padding: $borderPadding;
    text-align: center;
    border-radius: $border-radius;
    font-size: .9rem;
    transition: $transition;
    border: 1px solid $green-color;
    &:hover {
      background-color: $white-color;
      color: $green-color;
      cursor: pointer;
    }
  }
}

.m-list-01 {
  dt {
    margin: 0 0 1em;
    &:not(:first-child) {
      margin-top: 2em;
    }
  }
  dd {
    margin: 0 0 .5em 2em;
    display: list-item;
    list-style-type: circle;
  }
}

.m-box-errorMessage {
  background-color: $red-color;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  .m-text-errorMessage {
    color: $white-color;
  }
}

.m-text-errorMessage {
  color: $red-color;
}
