@media screen and (max-width: 1200px) {
  .l-container {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  ul >>> .workList {
    width: 30.833333%;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(5n) {
      margin-right: 2.5%;
    }
  }
}

@media screen and (max-width: 768px) {
  ul >>> .workList {
    width: 45%;
    margin: 0 5% 5% 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 479px) {
  ul >>> .workList {
    width: 100%;
    margin: 0 0% 5% 0;
  }
  .m-table-01 {
    width: 100%;
    th,
    td {
      display: block;
      width: 100%;
    }
  }
}
