@media screen and (max-width: 1200px) {
  .l-container {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 1000px) {
  ul >>> .workList {
    width: 30.833333%;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(5n) {
      margin-right: 2.5%;
    }
  }
}

@media screen and (max-width: 768px) {
  .m-nav-01 {
    display: none;
  }
  .is-sp {
    display: block;
  }
  ul >>> .workList {
    width: 45%;
    margin: 0 5% 5% 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  div >>> .workDetail {
    display: block;
    .image {
      margin-bottom: 5%;
      img {
        margin: 0 auto;
        width: 100%;
      }
    }
    >>> .content {
      padding-left: 0;
    }
  }
  div >>> .profileBlock {
    display: block;
    .profile {
      text-align: center;
      margin-bottom: 5%;
      .photo {
        img {
          margin: 0 auto;
        }
      }
      >>> .profileIcon {
        display: block;
        li {
          display: inline-block;
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
    >>> .profileList {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 479px) {
  .l-container {
    padding: 0 5%;
  }
  .m-nav-02,
  .menu .close {
    left: 5%;
  }
  div >>> .title {
    margin: 10% 0 5%;
  }
  ul >>> .workList {
    width: 100%;
    margin: 0 0 10% 0;
  }
  .m-table-01 {
    width: 100%;
    th,
    td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
    tr >>> th {
      padding: 15px 15px 10px;
      border-bottom: none;
    }
    tr >>> td {
      padding: 0 15px 20px;
    }
  }
  #app >>> footer {
    padding: 10% 0 5%;
  }
}
