$key-color: #4B4D52;
$sub-color: #5B657A;
$black-color-01: #333;
$gray-color-01: #A4ABBD;
$gray-color-02: #7C7E83;
$gray-color-03: #CDCFD5;
$gray-color-04: #F6F9FF;
$link-color: #1C93FA;
$white-color: #FFF;
$red-color: #B31F57;
$green-color: #3698A1;
$border-radius: 3px;
$transition:  .1s ease-in-out;
$buttonPadding: 10px 25px;
$block-margin: 2rem;
$block-padding: 1rem;
$breakpoint-up: (
  'sm': 'screen and (min-width: 480px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 769px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;
$breakpoint-down: (
  'sm': 'screen and (max-width: 479px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;
