$key-color: #4B4D52;
$sub-color: #5B657A;
$gray-color-01: #A4ABBD;
$gray-color-02: #7C7E83;
$gray-color-03: #CDCFD5;
$link-color: #1C93FA;
$white-color: #F6F9FF;
$border-radius: 3px;
$transition:  .1s ease-in-out;
$borderPadding: 10px 25px;
