@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: #4B4D52;
  font-family: Meiryo, sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.4; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.l-container {
  padding: 2.5%; }

.m-table-01 {
  border-left: solid 1px #F6F9FF;
  border-top: solid 1px #F6F9FF; }
  .m-table-01 tr th {
    border-bottom: solid 1px #F6F9FF;
    vertical-align: middle;
    text-align: center;
    padding: 10px; }
  .m-table-01 tr td {
    border-right: solid 1px #F6F9FF;
    border-bottom: solid 1px #F6F9FF;
    vertical-align: middle;
    text-align: left;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; }
    .m-table-01 tr td .m-text-errorMessage {
      padding-top: 5px; }

/* 左右にボタンが並んで右端に配置*/
.m-buttonBlock-01 {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1rem; }
  .m-buttonBlock-01 div {
    margin-left: 1rem; }

/* 左右にボタンが並んで中央に配置*/
.m-buttonBlock-02 {
  display: flex;
  justify-content: space-between;
  width: 260px; }

.m-button-01 {
  display: flex;
  justify-content: flex-end; }
  .m-button-01-link {
    display: inline-block;
    text-decoration: none;
    background-color: #1C93FA;
    color: #F6F9FF;
    padding: 10px 25px;
    text-align: center;
    border-radius: 3px;
    font-size: .9rem;
    transition: 0.1s ease-in-out;
    border: 1px solid #1C93FA; }
    .m-button-01-link:hover {
      background-color: #F6F9FF;
      color: #1C93FA;
      cursor: pointer; }

.m-button-02 {
  display: flex;
  justify-content: flex-end; }
  .m-button-02-link {
    display: inline-block;
    text-decoration: none;
    background-color: #3698A1;
    color: #F6F9FF;
    padding: 10px 25px;
    text-align: center;
    border-radius: 3px;
    font-size: .9rem;
    transition: 0.1s ease-in-out;
    border: 1px solid #3698A1; }
    .m-button-02-link:hover {
      background-color: #F6F9FF;
      color: #3698A1;
      cursor: pointer; }

.m-button-03 {
  display: flex;
  justify-content: flex-end; }
  .m-button-03-link {
    display: inline-block;
    text-decoration: none;
    background-color: #B31F57;
    color: #F6F9FF;
    padding: 10px 25px;
    text-align: center;
    border-radius: 3px;
    font-size: .9rem;
    transition: 0.1s ease-in-out;
    border: 1px solid #B31F57; }
    .m-button-03-link:hover {
      background-color: #F6F9FF;
      color: #B31F57;
      cursor: pointer; }

.m-button-04 {
  display: flex;
  justify-content: flex-end; }
  .m-button-04-link {
    display: inline-block;
    text-decoration: none;
    background-color: #A4ABBD;
    color: #F6F9FF;
    padding: 10px 25px;
    text-align: center;
    border-radius: 3px;
    font-size: .9rem;
    transition: 0.1s ease-in-out;
    border: 1px solid #A4ABBD; }
    .m-button-04-link:hover {
      background-color: #F6F9FF;
      color: #A4ABBD;
      cursor: pointer; }

.m-list-01 dt {
  margin: 0 0 1em; }
  .m-list-01 dt:not(:first-child) {
    margin-top: 2em; }
.m-list-01 dd {
  margin: 0 0 .5em 2em;
  display: list-item;
  list-style-type: circle; }

.m-box-errorMessage {
  background-color: #B31F57;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px; }
  .m-box-errorMessage .m-text-errorMessage {
    color: #F6F9FF; }

.m-text-errorMessage {
  color: #B31F57; }

/*# sourceMappingURL=styles.css.map */
